<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
<div class="container" id='hideMe'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<div class="page-header">
    <div id="banner">
        <h1 style="text-align: center;">Editar produto: {{ produto.nome }}</h1>
    </div>
    <form action="/edit/{{ produto.id }}" class="container" method="post">
        <br>
        <div class="row">
            <div class="col-md-6">
                <input type="text" name="nome" id="nome" placeholder="nome" class="form-control"
                       value="{{ produto.nome }}">
            </div>
            <div class="col-md-6">
                <input type="text" name="preco" id="preco" placeholder="preço" class="form-control"
                       value="{{ produto.preco }}">
            </div>
        </div>
        <br>
        <div class="row col-xs-12">
            <button type="submit" class="btn btn-block btn-success">Enviar</button>
        </div>
    </form>
</body>
</html>